.DS_Store
.swp
.pydevproject
.project
.pyc
test/system_test/input/1*.txt
test/system_test/input/2*.txt
test/system_test/input/4*.txt
test/system_test/input/5*.txt
test/system_test/input/6*.txt
test/benchmark/input/*10k.txt
test/benchmark/input/*50k.txt
test/benchmark/output_benchmark/
test/system_test/output_reproduce_challenge/
containers/*/singularity/*.img
test/benchmark/src/*.dat
test/benchmark/input/
test/benchmark/output/
